{% extends "base.html" %}
{% block content %}
  <h1>Nakki</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Rekisteröitymispäivä:</strong> 01.01.2017</li>
    <li><strong>Ainejärjestö:</strong> TKO-äly ry</li>
    <li><strong>Status:</strong> <label class="label label-danger">kuollut</label></li>
    <li><strong>Viimeisin peli:</strong> 01.01.2017</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Ihan vitun tyhmä äijä ku rupes tekee tätä.
  </p>
{% endblock %}